{% load custom_tags %}

<div class="card">
    <div class="card-header" role="tab" id="sectionHeader-{{parent_item_id}}-{{category_item.id}}">
        <h5 class="mb-0">
            <button class="btn btn-edit" value="{{category_item.id}}">
                <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-copy" data-id="{{category_item.id}}">
                <i class="fa fa-copy"></i>
            </button>
            <button class="btn btn-paste" data-id="{{category_item.id}}">
                <i class="fa fa-paste"></i>
            </button>
            {% if category_item.parent_categories and category_item.parent_categories.count > 0   %}
            <button class="btn btn-minus" value="{{category_item.id}}">
                <i class="fa fa-minus"></i>
            </button>
            {% endif %}
            <button class="btn btn-remove" value="{{category_item.id}}">
                <i class="fa fa-trash"></i>
            </button>

            <a data-toggle="collapse" href="#sectionContent-{{parent_item_id}}-{{category_item.id}}"
                aria-expanded="true" aria-controls="sectionContent-{{parent_item_id}}-{{category_item.id}}">
                {{ category_item.point }} {{ category_item.name_ru }}
            </a>

            <button class="btn btn-success pull-right button-orange m-1 btn-category-add" 
                value="{{category_item.id}}">
                Добавить 
                <i class="fa fa-plus"></i>
            </button>
        </h5>
    </div>
    <div id="sectionContent-{{parent_item_id}}-{{category_item.id}}" class="collapse in" role="tabpanel"
        aria-labelledby="sectionHeader-{{parent_item_id}}-{{category_item.id}}">
        <div class="card-body">
            <!-- Section {{category_item.name }} content -->
            <div id="child-categories-{{parent_item_id}}-{{category_item.id}}">
            </div>

            <div class="row">
                <div class="col-md-12">
                    параметры:
                    <button class="btn btn-success pull-right button-orange m-1" id="btn-parameter-add"
                        value="{{category_item.id}}">
                        Добавить параметр <i class="fa fa-plus"></i>
                    </button>
                </div>
                {% if category_item.parameters and category_item.parameters.count > 0 %}
                <div class="col-md-12">
                    <ul>
                        {% for parameter_item in category_item.parameters.all %}
                        {%with parameter_item=parameter_item category_item=category_item template_name="category/parameter_node.html" %}
                        {%include template_name%}
                        {%endwith%}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% block javascript %}
<script>
    $(document).ready(function () {
        var category_id = '{{category_item.id}}';
        var parent_id = '{{parent_item_id}}';

        $("#sectionHeader-{{parent_item_id}}-{{category_item.id}}").on("click", '.btn-copy', function (value) {
            if($(this).hasClass('btn-dark')){
                $(this).removeClass('btn-dark')
                $("#copy-category-id").val('')
            }
            else{
                $(".btn-copy").removeClass('btn-dark')
                $(this).addClass('btn-dark')
                $("#copy-category-id").val($(this).data('id'))
            }   
        });

        $("#sectionHeader-{{parent_item_id}}-{{category_item.id}}").on("click", '.btn-paste', function (value) {
            $.ajax({
                url: 'category-paste/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken' : '{{csrf_token}}',
                    'category_copy_id': $("#copy-category-id").val(),
                    'category_id_paste_in': $(this).data('id')
                },
                success: function (data) {
                    window.location = '/constructor/#v-pills-category';
                },
                error: function (xhr, errmsg, err) {

                }
            })
        });

        $("#sectionContent-" + parent_id + "-" + category_id).on("click", '#btn-parameter-add', function (value) {
            let id = $(this).attr('value');
            $.ajax({
                url: "parameters-add/" + id, 
                type: "GET", 
                success: function (data) {
                    $('#modal-body').html(data);
                    $('.modal-title').text("Парсер");
                    $('#modal-form').modal('show');
                },
                error: function (xhr, errmsg, err) {

                }
            });
        });

        $("#sectionHeader-" + parent_id + "-" + category_id).on("click", '#btn-category-add', function (value) {                    
            let id = $(this).attr('value');
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: "categories-add/" + id + "/", 
                type: "GET", 
                success: function (data) {
                    $('#modal-body').html(data);
                    $('.modal-title').text("Создать элемент");
                    $('#modal-form').modal('show');
                },
                error: function (xhr, errmsg, err) {

                }
            });
        });

        $("#sectionHeader-" + parent_id + "-" + category_id).on("click", '.btn-edit', function (value) {
            let id = $(this).attr('value');
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: "/category/" + id + "/", 
                type: "GET", 
                success: function (data) {
                    $('#modal-body').html(data);
                    $('.modal-title').text("Изменить элемент");
                    $('#modal-form').modal('show');
                },
                error: function (xhr, errmsg, err) {

                }
            });
        });

        $("#sectionHeader-" + parent_id + "-" + category_id).on("click", '#btn-remove', function (value) {
            let id = $(this).attr('value');
            $.ajax({
                url: "/category/" + id + "/delete/",
                type: "GET",
                success: function (data) {
                    $('#modal-body').html(data);
                    $('#modal-title').text('');
                    $('#modal-form').modal('show');
                },
                error: function (xhr, errmsg, err) {

                }
            });
        });

        $("#sectionHeader-" + parent_id + "-" + category_id).on("click", '#btn-minus', function (value) {
            let id = $(this).attr('value');
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: "/constructor/categories-delete/" + parent_id + "/" + id + "/", 
                type: "POST", 
                success: function (data) {
                    window.location = '/constructor/#v-pills-category';
                },
                error: function (xhr, errmsg, err) {

                }
            });

        });

        $("#sectionContent-" + parent_id + "-" + category_id).on('shown.bs.collapse', function () {            
            let node = $('#child-categories-' + parent_id + '-' + category_id);
            let check = $(node[0]).html().trim();
            if(check === ""){ 
                $.ajax({
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    url: "/constructor/categories/" + category_id + "/", 
                    type: "GET", 
                    success: function (data) {
                        $('#child-categories-' + parent_id + '-' + category_id).html(data);
                    },
                    error: function (xhr, errmsg, err) {

                    }
                });
            }
            else{
                $('#child-categories-' + parent_id + '-' + category_id).html("");
                $('#sectionContent-' + parent_id + '-' + category_id).removeClass('show');
            }
        })
    });
</script>
{% endblock %}